@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    max-width: 1200px; max-height: 70px;
    margin: 20px 150px 20px 150px; 
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    
}
.menu{
    display: flex;
    justify-content: space-around;
    gap:25px;
}
.school{
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.schl-tex{
    margin-top: 20px ;
    font-size: 2rem;
font-weight: 700;
/* line-height: 1.5rem; */
}
.home{
    color: rgb(232, 150, 7);
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
}
.about{
    color: rgb(1, 172, 253);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.Facilities{
    color: rgb(5, 212, 223);
    font-size: 1.2rem;
font-weight: 500;
line-height: 1.9rem;
}
.Admission{
    color: rgb(93, 88, 239);
    font-size: 1.1rem;content
font-weight: 500;
line-height: 1.9rem;
}
.bn-contact{
    width: 150px;
height: 30px;
border-radius: 12px;
background: rgb(254, 163, 1);
color: white;
padding: 10px;
text-align: center;
margin-right: -130px;
margin-top: 10px;

}
/* banner */
.banner{
    display: flex;
    gap: 50px;
    max-width: 1200px; max-height: 574px;
    margin: 20px 70px 20px 150px; 
    
}
.banner-title{
    margin-top: 7.6rem;
    margin-bottom: 7.6rem;
}
.banner-heading{
    font-size: 3.9rem;
font-weight: 700;
line-height: 3.9rem;
}


.empowering{
    color: rgb(215, 148, 31);
}
.twrdsvission{
    color: skyblue;
}
.banner-fig{
    width: 250.81px;
height: 575px;
padding-left: 160px;}

.banner-desc{
    color: rgb(17, 17, 17);
    font-size: 1.2rem;
font-weight: 400;
line-height: 1.4rem;
margin-top: 0px;}

.btn-banner{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
color: white;
}